<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1076218286649-4pqm2utbn8ko451499cbjkoc6a2s0uct.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1076218286649-4pqm2utbn8ko451499cbjkoc6a2s0uct</string>
	<key>API_KEY</key>
	<string>AIzaSyAnKUQhFg9bj_fOkk4EHXIiFO2V8y_eotI</string>
	<key>GCM_SENDER_ID</key>
	<string>1076218286649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.connorholland.GPSTrackingTest</string>
	<key>PROJECT_ID</key>
	<string>gps-tracking-test-2d7bc</string>
	<key>STORAGE_BUCKET</key>
	<string>gps-tracking-test-2d7bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076218286649:ios:d002d1f0d773c01d31b3e8</string>
</dict>
</plist>